@use "../abstracts/functions" as *;

// Make focused anchor not get covered by nav
:target:not(#main-content) {
	scroll-margin-block-start: 15vh;
}

:focus-visible,
:target:not(#main-content) {
	animation: focus-in var(--transition);
	outline: 0.125rem solid var(--accent-color);
	outline-offset: 0.125rem;

	@keyframes focus-in {
		from {
			outline: 0.5rem solid transparent;
			outline-offset: 0.25rem;
		}
	}
}

// Style text selection to use accent color
::selection {
	background-color: var(--accent-color);
	color: var(--contrast-color);
}

body {
	-webkit-font-smoothing: antialiased;
	background-color: var(--bg-color);
	overflow-x: hidden;
	color: var(--fg-color);
	// line-height: 1.5rem;
	font-family: var(--font-sans-serif), var(--font-system-ui),
		var(--font-emoji);

	@supports (min-height: 100dvh) {
		min-height: 100dvh;
	}
}

@media (prefers-reduced-motion) {
	*,
	*::before,
	*::after {
		animation-duration: 0s !important;
		transition-duration: 0s !important;
	}
}
