$geist-version: "1.5.1";

// Geist
@font-face {
	font-style: normal;
	font-weight: 100 900;
	src: url("fonts/geist.woff2?v=#{$geist-version}") format("woff2");
	font-family: "Geist";
	font-display: swap;
}

@font-face {
	font-style: italic;
	font-weight: 100 900;
	src: url("fonts/geist-italic.woff2?v=#{$geist-version}") format("woff2");
	font-family: "Geist";
	font-display: swap;
}

// Geist Mono
@font-face {
	font-style: normal;
	font-weight: 100 900;
	src: url("fonts/geist-mono.woff2?v=#{$geist-version}") format("woff2");
	font-family: "Geist Mono";
	font-display: swap;
}

@font-face {
	font-style: italic;
	font-weight: 100 900;
	src: url("fonts/geist-mono-italic.woff2?v=#{$geist-version}")
		format("woff2");
	font-family: "Geist Mono";
	font-display: swap;
}
