// Based on css-init, with a few important adjustments
// https://github.com/sir-sharkey/css-init

*,
:after,
:before {
	vertical-align: baseline;
	box-sizing: border-box;
	margin: 0;
	border: none;
	background: none;
	padding: 0;
	color: inherit;
	font: inherit;
	-webkit-tap-highlight-color: transparent;
}

button,
select {
	appearance: none;
}

body {
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	width: 100%;
	min-height: 100vh;
	line-height: 1.5;
}

a,
button,
summary,
input[type="button"],
input[type="checkbox"],
input[type="color"],
input[type="file"],
input[type="image"],
input[type="radio"],
input[type="range"],
input[type="reset"],
input[type="submit"],
label,
select {
	cursor: pointer;
}

article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
main,
nav,
rt,
ruby,
section,
summary {
	display: block;
}

bdi,
mark,
meter,
output,
progress,
time {
	display: inline-block;
}

[hidden],
datalist,
dialog:not([open]),
rp {
	display: none !important;
}

embed,
iframe,
img,
object,
picture,
svg,
video {
	display: block;
	max-width: 100%;
	height: auto;
}

blockquote,
q {
	quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: none;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

code,
kbd,
pre,
samp {
	font-family: monospace;
}

sub {
	vertical-align: sub;
}

sup {
	vertical-align: super;
}

small {
	font-size: small;
}

table {
	border-collapse: collapse;
}
