@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

#site-footer {
	--padding: 1rem;
	display: flex;
	grid-area: footer;
	gap: 1rem;
	margin-block-start: 2rem;
	border-block-start: rpx(1) solid var(--bg-muted-2);
	padding: 1rem;
	padding-block-end: 2rem;
	width: 100%;
	min-width: 0;
	max-width: calc(var(--content-width) + var(--padding) * 2);

	@media only screen and (max-width: 480px) {
		flex-direction: column;
	}

	& > div {
		flex: 1;

		&:nth-of-type(1) {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			color: var(--fg-muted-2);
			font-size: var(--font-size-small);

			p {
				margin: 0;
			}
		}
	}

	a.external::after {
		margin-inline-start: 0.25rem;
	}

	.link {
		@include chip;
		display: inline-block;
		line-height: 1.5rem;

		&:hover {
			background-color: var(--bg-muted-2);
		}

		&:active {
			transform: var(--active);
		}
	}

	// IMO it's pretty cute
	.webring {
		display: flex;
		gap: 0.25rem;

		.icon {
			transition: var(--transition);
		}

		.random,
		.previous,
		.next {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 9999px;
			padding: 0.25rem;
			font-size: 1rem;
		}
	}

	.timestamp {
		color: var(--fg-muted-1);
		font-size: var(--font-size-xx-small);
		font-family: var(--font-monospace);
	}

	.socials {
		display: flex;
		justify-content: flex-end;
		gap: 0.75rem;
		margin: 0;
		padding-inline-start: 0;
		list-style: none;

		@media only screen and (max-width: 480px) {
			justify-content: center;
			margin-block-start: 1rem;
		}

		li {
			margin-block: 0;
			padding-inline-start: 0;
		}

		a {
			display: flex;
			transition: all var(--transition),
				transform var(--transition-bezier);
			height: fit-content;
			color: var(--fg-muted-1);

			&:hover {
				color: var(--fg-muted-2);
			}

			&:active {
				transform: var(--active);
			}
		}

		svg {
			fill: currentColor;
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
