#main-content {
	--padding: 1rem;
	grid-area: main;
	transform-origin: 50% 50vh;
	animation: fade-in-zoom var(--transition-bezier-longer); // Normal loading animation
	padding: 3rem 1rem;
	width: 100%;
	min-width: 0;
	max-width: calc(var(--content-width) + var(--padding) * 2);

	@supports (transform-origin: 50% 50dvh) {
		transform-origin: 50% 50dvh;
	}

	& > :first-child {
		margin-block-start: 0;
	}

	& > :last-child {
		margin-block-end: 0;
	}

	@keyframes fade-in-zoom {
		from {
			transform: scale(0.95);
			opacity: 0;
		}
	}
}

// Don't play animation when jumping to section
:target ~ #main-content {
	animation: none;
}

// Loading animation when going down in the sidebar
#down:target ~ #main-content {
	animation: slide-in-down-longer var(--transition-bezier-longer);
}

// Loading animation when going up in the sidebar
#up:target ~ #main-content {
	animation: slide-in-up-longer var(--transition-bezier-longer);
}

// Loading animation when going to the previous article
#left:target ~ #main-content {
	animation: slide-in-left-longer var(--transition-bezier-longer);
}

// Loading animation when going to the next article
#right:target ~ #main-content {
	animation: slide-in-right-longer var(--transition-bezier-longer);
}
