.crt {
	margin: 1rem 0;
	box-shadow: var(--shadow-glow);
	border-radius: var(--rounded-corner);
	background-image: var(--crt-bg);

	pre {
		animation: flicker 0.25s alternate infinite;
		margin: 0;
		box-shadow: none;
		background-color: transparent !important;
		padding: 1rem 1rem;
		color: var(--accent-color) !important;
		font-weight: var(--font-weight-medium);
		text-shadow: var(--text-shadow-glow);

		@keyframes flicker {
			25% {
				opacity: 0.95;
			}

			50% {
				opacity: 0.85;
			}

			75% {
				opacity: 1;
			}

			to {
				opacity: 0.9;
			}
		}
	}
}

.scanlines {
	position: relative;
	overflow: hidden;

	&::before {
		display: block;
		position: absolute;
		opacity: var(--scanlines-opacity);
		z-index: 1;
		animation: scanlines 0.1s linear infinite;
		inset: 0;
		background-image: repeating-linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.25),
			rgba(0, 0, 0, 0.25) 0.125rem,
			transparent 0.125rem,
			transparent 0.25rem
		);
		pointer-events: none;
		content: "";

		@keyframes scanlines {
			to {
				background-position-y: 0.25rem;
			}
		}
	}

	&::after {
		display: block;
		position: absolute;
		opacity: 0.05;
		animation: scanline 5s linear infinite;
		inset: 0;
		background-image: linear-gradient(
			to bottom,
			transparent,
			var(--accent-color) 16rem
		);
		background-size: auto 16rem;
		background-repeat: no-repeat;
		background-position-y: -16rem;
		pointer-events: none;
		content: "";

		@keyframes scanline {
			to {
				background-position-y: calc(100% + 16rem);
			}
		}
	}
}
