span.spoiler {
	filter: blur(0.25rem);
	transition: var(--transition);

	&:focus,
	&:hover {
		filter: none;
	}

	&.solid {
		filter: none;
		border-radius: var(--rounded-corner-small);
		background-color: var(--fg-muted-1);
		color: transparent;

		&:focus,
		&:hover {
			background-color: transparent;
			color: inherit;
		}
	}
}
