@use "../abstracts/functions" as *;

.statement-container {
	margin: 1rem 0;
	box-shadow: var(--edge-highlight), var(--shadow);
	border-radius: var(--rounded-corner);
	padding: 1rem;

	:last-child {
		margin-block-end: 0;
	}

	& > :nth-child(2) {
		margin-block-start: 0.5rem;
	}

	.title {
		font-weight: var(--font-weight-semi-bold);

		.icon {
			vertical-align: rpx(-2);
			margin-inline-end: 0.25rem;
		}
	}

	&.archive {
		--accent-color: var(--purple-fg);
		--text-decoration-color: hsla(
			var(--purple-h),
			var(--purple-s),
			var(--purple-l),
			var(--disabled-opacity)
		);
		background-color: var(--purple-bg-1);
		color: var(--purple-fg);
	}

	&.disclaimer {
		--accent-color: var(--red-fg);
		--text-decoration-color: hsla(
			var(--red-h),
			var(--red-s),
			var(--red-l),
			var(--disabled-opacity)
		);
		background-color: var(--red-bg-1);
		color: var(--red-fg);
	}

	&.trigger {
		--accent-color: var(--yellow-fg);
		--text-decoration-color: hsla(
			var(--yellow-h),
			var(--yellow-s),
			var(--yellow-l),
			var(--disabled-opacity)
		);
		background-color: var(--yellow-bg-1);
		color: var(--yellow-fg);
	}
}
