.visually-hidden {
	position: absolute !important;
	clip-path: inset(50%) !important;
	margin: -1px !important;
	border-width: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
	white-space: nowrap !important;
}
